$font-base: '../Fonts/';

/* ROOT FONT STYLES */

@font-face {
  font-family: 'Roboto';
  src: url($font-base + 'roboto-regular.eot');
  src: url($font-base + 'roboto-regular.eot?#iefix') format('embedded-opentype'),
  url($font-base + 'roboto-regular.woff2') format('woff2'),
  url($font-base + 'roboto-regular.woff') format('woff'),
  url($font-base + 'roboto-regular.ttf') format('truetype'),
  url($font-base + 'roboto-regular.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url($font-base + 'roboto-medium.eot');
  src: url($font-base + 'roboto-medium.eot?#iefix') format('embedded-opentype'),
  url($font-base + 'roboto-medium.woff2') format('woff2'),
  url($font-base + 'roboto-medium.woff') format('woff'),
  url($font-base + 'roboto-medium.ttf') format('truetype'),
  url($font-base + 'roboto-medium.svg#robotoregular') format('svg');
  font-weight: 500;
  font-style: normal;
}

body * {
  font-family: $roboto;
  color: $color-typo-1;
  line-height: 1;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}
