<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}">
    <!-- main site styles -->
    <link rel="stylesheet" href="Css/main.css">
</head>
<body{{ ' class='+ bodyClass if bodyClass }}>
    {% include partials + 'header.njk' %}
    {% block content %}{% endblock %}
    {% include partials + 'footer.njk' %}
    {% block scripts %}
        {% include 'templates/partials/scripts.njk' %}
    {% endblock %}
</body>
</html>